html {
    box-sizing: border-box;
    margin: 0 0 -1px 0;
    padding: 0;
    
    background: rgb(0, 0, 0);
}
h1,h2,h3,h4,h5,h6,.label-log, .logo-text,#input-log, .text-danger {
    font-family: "Roboto", sans-serif
}
/* WARNING TEXT */
.text-danger{
    font-size: 16px;
    float: right;
    margin-top: -40px;
    margin-right: 2%;
    z-index: 11;
}
.invalid{
    border: 2px solid red;
}
/* END WARNING TEXT */
/* START HEADER NAV */
.nav span, .nav a, .sign-in{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
  }
.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10%;
    background: #24252A;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.logo{
    cursor: pointer;
    margin-right: 10px;
}
.logo-text{
    color: white;
    font-size: 26px;
    margin-right: auto;
    cursor: pointer;
}
.sign-in{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.sign-in:hover{
    background-color: rgba(0, 136, 169, .8);
}
/* SIGN UP MODAL */
#sign-up-modal{
    position: fixed;
    min-height: 70vh;
    width: 500px;
    background-color: #FFF;
    color: #333333;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto; 
    transform: translateY(-250%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.2) ;
    border-radius: 4px;
    z-index: 11;
    opacity: 0;
    transition: all .5s ease;
}
#sign-up-modal.is-open{
    transform: translateY(-50%);
    opacity: 1;
}
.modal-close{
    position: absolute;
    top: 2px;
    right: 8px;
    transform: rotate(45deg);
    font-size: 30px;
    cursor: pointer;
}
.modal-title{
    position: absolute;
    top: 6.7%;
    border-bottom: 1px solid #8f8b79;
    width: 35%;
    margin-left: -35px;
    text-align: center;
    transform: rotate(-45deg);
    font-size: 30px;
}
.modal-body{
    padding: 20% 5% 5% 5%;
    margin-top: 5%;
}
.modal-footer{
    margin: 50px 0px 0px 0px;
    border-top: 1px solid #8f8b79;
}.btn-sign-up{
    width: 80%;
    margin: 20px 50px;
    background-color:#ada996;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 32px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.btn-sign-up:hover{
    background-color:#8f8b79;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn-sign-up:disabled{
    border: 2px solid lightgray;
    background-color: grey;
    color: black;
}
/* END SIGN UP MODAL */
/* END HEADER NAV*/
/* START BODY */
.log-body{
    position: absolute;
    margin: 0; padding: 0;
    width: 100%; height: 80%;
}
/* START MOVING GRADIENT */
.parent{
    height: 100%; width: 100%;
    margin: 0; padding: 0;
    text-align: center;
}
.flex-center{
    display:flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 500px; height: 500px;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 136, 169, .16),
    0 3px 6px rgba(0, 0, 0, .23);
}
.moving-gradient{
    background: linear-gradient(150deg,rgba(0, 136, 169, .20), #2e2e2e7c);
    background-size: 200% 200%;
    animation: moveGradient 6s ease infinite;
}
@keyframes moveGradient{
    0%{ background-position: 0 50%; }
    50%{ background-position: 100% 50%; }
    0%{ background-position: 0 50%; }
}
/* END MOVING GRADIENT */
/* FORM */
.logForm{
    height: 40px; width: 80%;
    margin-top: -23em;
}
/* ICON */
.user-icon{
    margin: 0px 0 20px 0;
    display: inline-block;
    width: 150px; height: 150px;
    background-color: #03527B;
    border-radius: 50%;
    position: relative;
    border: 10px solid #03527B;
    overflow: hidden;
    box-sizing: border-box;
}.user-icon::before{
    content: '';
    display: inline-block;
    width: 50px; height: 50px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 25px);
    top: 15px;
}.user-icon::after{
    content: '';
    display: inline-block;
    width: 100px; height: 100px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 50px);
    top: 75px;
}
/* END ICON */
.label-log{
    float: left;
    margin: 10px 0 5px 0;
    font-weight: 600;
}
#input-log{
    height: 40px; width: 100%;
    margin: 10px 0 5px 0;
    border-radius: 6px;
    text-indent: 15px;
    display: block;
    font-size: 16px;
}
.btn-log{
    width: 100%;
    /* background-color:#ada996; */
    background-color: rgb(3, 81, 123);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.btn-log:hover{
    /* background-color:#8f8b79; */
    background-color: rgb(4, 91, 138);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn-log:disabled{
    cursor: not-allowed;
}
/* END FORM */
/* END BODY */

